body {
    background-color: red;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: darkred;
    text-align: center;
    padding: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: darkred;
    border-radius: 5px;
}

a#headerlink {
    background-color: white;
    color: darkred;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Resize all images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}